emails/Rubble Betty.html
emails/Airpump Andrew.html
emails/Alfalfa Aloysius.html
emails/Alfred University.html
emails/Android Electric.html
emails/Backus Jim.html
emails/Buff Bif.html
emails/Bumpkin Fred.html
emails/Carnivore Art.html
emails/Dandy Jim.html
emails/Elephant Ima.html
emails/Franklin Benny.html
emails/George Boy.html
emails/Gerty Gramma.html
emails/Heffalump Harvey.html
emails/Noshow Cecil.html
